/* General body styling */
.body1 {
    padding: 20px;
    background-color: #2c3e50; /* Dark background */
    color: #ecf0f1; /* Light text color */
    font-family: Arial, sans-serif;
}

/* Button styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #3498db; /* Primary button color */
    color: #fff; /* Text color */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9; /* Button hover effect */
}

/* Heading styling */
h2 {
    margin-bottom: 20px;
    color: #ecf0f1;
    text-align: center;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
   
    color: #ecf0f1;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

/* Table header styling */
thead {
    background-color: #16a085; /* Header background color */
}

thead th {
    padding: 10px;
    text-align: left;
    color: #fff;
    font-size: 16px;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}
