{% load static %}
{% include 'header.html' %}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Contact Us</title>
</head>
<body>
    <!-- contact -->
    <div class="contact py-5">
        <div class="container py-xl-5 py-lg-3">
            <h2 class="title text-center pb-md-3 mb-3">Contact Us</h2>
            <div class="row contact_wthreerow agileits-w3layouts mt-md-5">
                <!-- Contact Form -->
                <div class="col-md-7 w3l_contact_form">
                    <h4 class="mb-4">Contact Form</h4>
                
                     
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" placeholder="Name" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" name="Email" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Phone" class="form-control" placeholder="Phone Number" required="">
                        </div>
                        <div class="form-group">
                            <textarea name="Message" class="form-control" placeholder="Message.." rows="5"></textarea>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
                <!-- Map Section -->
                <div class="col-md-5 text-center">
                    <h4 class="mb-4">Find Us Here</h4>
                    <div class="w3ls_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7852.209310049127!2d76.39662981410041!3d10.253142759293134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080125a20d0fcb%3A0xe503670d64c75dba!2sEdakkunnu%2C%20Kerala%20683576!5e0!3m2!1sen!2sin!4v1738996648719!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //contact -->

    {% include 'footer.html' %}
</body>
</html>
