{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/add_ca.css' %}">
    <title>Add Category</title>
</head>
<body>
    <div class="body">
    <div class="container addc">
        <h2>Add Category</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </div>
</div>
</body>
</html>
{% include 'footer.html' %}
