{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/sub.css' %}">
<div class="body">
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
        <h1 class="text-light">Are you sure you want to delete this subcategory?</h1>
        <p class="text-light"><strong>Subcategory Name:</strong> {{ subcategory.title }}</p>
    
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Yes, delete</button>
        </form>
        <a href="{% url 'view_categories' %}" class=" btn btn-primary">Cancel</a>
    {% endif %}
</div>
{% include 'footer.html' %}
