{% load static %}
{% include 'header.html' %}

<h1>{{ category.title }}</h1>
<p><strong>Description:</strong> {{ category.description }}</p>
<p><strong>Type:</strong> {{ category.get_type_display }}</p>
<p><strong>Limit:</strong> {{ category.limit }}</p>
<p><strong>Income:</strong> {{ category.income }}</p>
<p><strong>Expense:</strong> {{ category.expense }}</p>
<p><strong>Max Limit:</strong> {{ category.max_limit }}</p>
<a href="{% url 'edit_category' category.pk %}" class="btn btn-primary">Edit</a>
<a href="{% url 'delete_category' category.pk %}" class="btn btn-danger">Delete</a>

{% include 'footer.html' %}
